<div class="sidenav">
  <%= link_to 'Case Load', 'lizards#index' %>
  <%= link_to 'Analytics',charts_path %>
  <%= link_to 'Clients',clients_path %>
  <%= link_to "Manage Vets", veterinarians_path%>
</div>
