<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="content">
  <div class="intro">
    <h1>The Veternarians</h1>
    <h2>We are in the business of caring for your pet through analytics to help them live their best lives</h2>
      <%= image_tag("dog_riding_in_the_car.jpg", :alt => "dog out of window") %>
  </div>
  <div class="analytics">
    <h2> How do we use analytics?</h2>
    <p> We gather information from visits with your pet and chart using a patented formula ways you can improve the life of your beloved family member. </p>
    <p> Using our state of the art algoritum for predicting where you pet needs to focus
      to improve health. Whether that is with a balanced diet or more walks with you<p>
    <h3>Here are the 4 points of your pets life we track</h3>
      <ul>
        <li>Diet</li>
        <li>Mental Health</li>
        <li>Social aptitude</li>
        <li>Fitness</li>
      </ul>
    <p>
  <div>
</div>
