
/*Responsive https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

  /* For tablets: */
@media only screen and (min-width: 600px) {


    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    [class*="col-"] {
      float: left;
      padding: 15px;
  }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

html {
    font-family: "Lucida Sans", sans-serif;
}

/* Navigation */

.navigation  {
    position: fixed;
    top: 0;
    background-color: #1F6BEF;
    padding: 10px;
    width: 100%;
    z-index:1;

  ul {
    list-style-type: none;
    text-align: center;
    font-size: 14px;
    bottom: 0;
  }

  a {
    padding: 0px;
    box-sizing: border-box;
    margin: 20px;
    text-decoration: none;
    color: #333538;
    font: bold 20px  Helvetica, sans-serif;
  }

  a:visited {
    color: #333538;
  }

  a:hover {
    background-color: #b4b4b4;
  }
}

.portal_title {
    font-family: 'Yeseva One';
    font-weight: bold;
    font-size: 36px;
    padding:0;
}

/* Headers */
.header {
   padding: 15px;
   background-color: #1F6BEF;
}


h1 {
    font-family: 'Yeseva One';
    font-weight: bold;
    font-size: 36px;
}

h2 {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

/*body*/

body {
    clear: both;
    text-align: center;
}

p {
    display: inline-grid;
    font-family: 'Roboto Slab', serif;
}

.intro {
    height: 80vh ;
}


/*table*/

table {
    table-layout: auto;
    text-align: center;
    display: inline-table;
    padding-bottom: 20px;
    position: relative;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td:hover {
    background-color: #f5f5f5;
}

th {
    background-color: #20d00b;
}


/*forms */

.scroll {
    overflow-y: auto;
}

input[type=email], input[type=password],input[type=text] {
    width: 30%;
    padding: 10px 10px;
    margin: 10px 10px;
    box-sizing: border-box;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=submit] {
    padding: 8px 8px;
    margin: 6px 0;
    box-sizing: border-box;
    background-color: #20d00b;
    width: 30%;
}

input[type=check_box] {
    vertical-align: middle;
}

label {
    display: inline-block;
}

.check_box {
    vertical-align: middle;
    margin-bottom: 20px;
    text-align: center;
}

/*Scaffold*/

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;

    h2 {
      color: #fff;
    }

    ul li {
      font-size: 12px;
      list-style: square;
  }
}

/*menu https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_styles*/

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #9aa1ad;
    color: #f9fafc;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
    color: #20d00b;
}

/*footer*/

.social-media {
    width: 20%;
    float:left;
    display: block;
    bottom: 0;
}

.footer{
    bottom: 0;
    background-color: #1F6BEF;
    position: fixed;
    z-index: 3;
    width: 100%
}

.contact {
    width: 20%;
    float: right;
    display: block;
    padding-right: 10px;
    padding-top: 20px;
    font-weight: bold;
}

.contact p {
    margin: 0;
}
