<div class='contact'>
  <p>Contact Us!</p></br>
  <p>The Veterinarians</p></br>
  <p>129999 Fluffy Way, </p>
  <p>Arlington, VA 22320</p>
  <p>o: 703-555-5555</p> |
  <p>f: 708-555-8888</p>
</div>
<div class='social-media'>
  <h4>Connect with us on Social Media!</h4>
  <i class="fa fa-facebook-square fa-3x" aria-hidden="true"><%=link_to '', '#' %></i>
  <i class="fa fa-twitter-square fa-3x" aria-hidden="true"><%=link_to '', '#' %></i>
  <i class="fa fa-youtube-square fa-3x" aria-hidden="true"><%=link_to '', '#' %></i>
</div>
