<p>Contact Us</p>
<p>Phone Number: 240-350-9323</p>
<p>Address: 123 Main St Washington,VA 20012</p>
<p>Connect with us on Social Media!</p>
<%=link_to 'Twitter', '#' %>
<%=link_to 'Facebook', '#' %>
<%=link_to 'YouTube', '#' %>