<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if user_signed_in? %>
      <h1 class='portal_title'>The Veterinarians Internal Portal </h1>
    <% else %>
      <%= link_to "Login",  user_session_path %>
      <%= link_to "Home", home_index_path%>
    <% end %>
